
.graph_summary_main {
    width: 98%;
    margin: auto;
}
table {
    text-align: center;
    width: 100%;
}
  
table th, table tr, td {
    padding: 5px 5px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
  
td.yes {
    background-color: rgb(24, 116, 70);
}

td a {
    color: rgb(24, 116, 70)
}
    
@media only screen and (min-width: 533px) {
    table th, table tr, td {
        padding: 5px 5px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
  }
