
.graph_summary_main {
    width: 100%;
    margin: auto;
}
table {
    text-align: center;
    width: 100%;
}
  
table th, table tr, td {
    padding: 5px 5px;
    font-size: 14px;
}
  
td.yes {
    background-color: gray;
}
    
    /* if the browser window is at least 800px-s wide: */
