.title {
    text-align: center;
  }
  
.page_title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(83, 83, 83)
}
  
.add_habit_input, .add_habit_label {
    display: block;
    margin: 20px;
}

button.add_habit_input {
    padding: 10px;
}