.page_title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.page_subheading {
    padding-bottom: 5px;
  }

.page_subheading .subheading {
  font-size: 20px;
}
  
  label {
    display: block;
    padding: 10px;
  }
  
  input.log_habit_input[type='checkbox'] {
    margin-left: 30px;
  }
  
  button.log_habit_input {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .day_tracker {
      margin-left: 30px;
      padding: 10px;
  }

  .log_habit_label a {
    color:  rgb(24, 116, 70)
  }

  @media only screen and (min-width: 533px) {
    .page_subheading .subheading {
      font-size: 25px
    }
  }