* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    text-align: center;
    padding: 20px;
    background-color: rgb(24, 116, 70);
    color: white;
}

.navbar a {
    color: white;
}

.navbar a:hover, .navbar a:active {
    text-decoration: underline;
}

.nav-title {
    padding-right: 10px;
}

ul.nav-list {
    padding-top: 10px;
}

.nav-list li {
    padding: 5px;
}

.sidebar {
  background: #fff;
  overflow: hidden;
  transition: all .5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}

header {
    padding: 20px;
    background-color: rgb(24, 116, 70);
    text-align: center;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

h1{
    font-family: 'Bungee Shade', cursive;
}

h2{
    font-family: 'Alegreya Sans', sans-serif;
}

.Collapsible__trigger:hover {
    cursor: pointer;
}

@media only screen and (min-width: 533px) {
    header {
      font-size: 20px;
    }
    .navbar {
        font-size: 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
      main {
          padding: 0px 50px;
      }
  }